<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PATH</key>
  <string>.git/8c0c6dec/../../bin:/Users/ian/bin:/Users/ian/.rbenv/bin:/Users/ian/.rbenv/shims:/Users/ian/codebase/gopath/bin:/Users/ian/.node-packages/bin:/PATH:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/texbin:/usr/local/sbin:/Users/ian/Library/Android/sdk/tools:/Users/ian/Library/Android/sdk/platform-tools:/Users/ian/Library/Android/ndk:/Users/ian/.fzf/bin</string>
</dict>
</plist>
