<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PATH</key>
  <string>/Users/ian/bin:/Users/ian/.rbenv/bin:/Users/ian/.rbenv/shims:/usr/local/opt/nvm/versions/default/bin:/PATH/:/Users/ian/Library/cocos/cocos2d-x-3.4/tools/cocos2d-console/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/X11/bin:/usr/texbin:/Users/ian/Library/Android/sdk/tools:/Users/ian/Library/Android/sdk/platform-tools:/Users/ian/Library/Android/ndk</string>
</dict>
</plist>
