# yaml-language-server: $schema=https://json.schemastore.org/lazygit.json
promptToReturnFromSubprocess: false
os:
  editPreset: nvim
git:
  autoFetch: false
  parseEmoji: true
gui:
  language: "en"
  commandLogSize: 2
  expandFocusedSidePanel: true
  scrollHeight: 20
  showBottomLine: false
  skipRewordInEditorWarning: false
  theme:
    activeBorderColor:
      - "#40a02b"
      - bold
    inactiveBorderColor:
      - "#6c6f85"
    optionsTextColor:
      - "#1e66f5"
    selectedLineBgColor:
      - "#ccd0da"
    cherryPickedCommitBgColor:
      - "#bcc0cc"
    cherryPickedCommitFgColor:
      - "#40a02b"
    unstagedChangesColor:
      - "#d20f39"
    defaultFgColor:
      - "#4c4f69"
    searchingActiveBorderColor:
      - "#df8e1d"
  authorColors:
    "*": "#7287fd"

customCommands:
  - key: "G"
    command: "gh repo view -w"
    context: "status"
    description: "Open Github Repo in browser"
  - key: "G"
    command: "gh pr view -w {{.SelectedLocalBranch.Name}}"
    context: "localBranches"
    description: "Open Github PR in browser"
  - key: "G"
    command: "gh pr view -w"
    context: "files"
    description: "Open Github PR in browser"
  - key: I
    command: "git cai"
    context: "status, files"
    output: terminal
    description: "Git with message generated by AI"
