<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>PATH</key>
  <string>{{ dotfiles.home }}/bin:{{ dotfiles.home }}/codebase/gopath/bin:{{ dotfiles.home }}/.rbenv/bin:{{ dotfiles.home }}/.rbenv/shims:{{ dotfiles.home }}/.node-packages/bin:{{ dotfiles.home }}/.gradle/wrapper/dists/gradle-4.0.1-all/26awvqv6f41r14q9x72t4n0s/gradle-4.0.1/bin:{{ dotfiles.home }}/.anaconda3/bin:/PATH:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/texbin:/usr/local/sbin:{{ dotfiles.home }}/Library/Android/sdk/tools:{{ dotfiles.home }}/Library/Android/sdk/platform-tools</string>
</dict>
</plist>
