<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>PATH</key>
  <string>__HOME__/bin:__HOME__/.local/bin:__HOME__/codebase/gopath/bin:__HOME__/.cargo/bin:__HOME__/.asdf/bin:__HOME__/.asdf/shims:__HOME__/.node-packages/bin:/PATH:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/texbin:/usr/local/sbin:__HOME__/Library/Android/sdk/tools/bin:__HOME__/Library/Android/sdk/platform-tools</string>
  <key>ANDROID_HOME</key>
  <string>__HOME__/Library/Android/sdk</string>
  <key>JAVA_OPTS</key>
  <string>--add-modules=java.se.ee</string>
</dict>
</plist>
