[env._]
path = ["{{config_root}}/node_modules/.bin"]

[tasks."pre-commit:typos"]
run = "typos"

[tasks.pre-commit]
depends = ["pre-commit:*"]

[tasks.build]
alias = "default"
run = ["bun install", "bun run build"]

[tasks.clean]
run = "fd --no-ignore -t f . dist -x rm"
