[env._]
path = ["{{config_root}}/node_modules/.bin"]

[env]
OPENAI_API_KEY = { required = true }
OPENAI_BASE_URL = { required = true }
OPENAI_MODEL = { required = true }
PUSHOVER_USER_KEY = { required = true }
PUSHOVER_AGENT_TOKEN = { required = true }
PUSHOVER_PERSONAL_TOKEN = { required = true }

[tasks."pre-commit:typos"]
run = "typos"

[tasks.pre-commit]
depends = ["pre-commit:*"]

[tasks.build]
run = ["bun install", "bun run build"]

[tasks.clean]
run = "fd --no-ignore . dist -x rm"
