[env]
OPENAI_API_KEY = { required = true }
OPENAI_BASE_URL = { required = true }
OPENAI_MODEL = { required = true }
AGENT_PUSHOVER_USER_KEY = { required = true }
AGENT_PUSHOVER_APP_TOKEN = { required = true }

[tasks."pre-commit:typos"]
run = "typos"

[tasks.pre-commit]
depends = ["pre-commit:*"]

[tasks.chmodx]
run = "fd -t f -E '*.ps1' . mise/tasks mise/scripts -X git update-index --chmod=+x"

[tasks.build]
run = "bun run build"

[tasks.default]
depends = ["build", "chmodx"]

[tasks.clean]
run = "fd --no-ignore . dist -x rm"