# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Default settings for all files
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4
tab_width = 4

[*.md]
# Preserve trailing whitespace for line breaks
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.mk]
indent_style = tab

[*.json]
indent_size = 2

[*.go]
indent_style = tab

[*.lua]
indent_size = 2

[*.rb]
indent_size = 2

[*.beancount]
indent_size = 2

[*.{yaml,yml}]
indent_size = 2

# Package manager files
[{package.json,package-lock.json,composer.json,Cargo.toml,Gemfile}]
indent_size = 2
