set surround

let mapleader = " "
let g:mapleader = " "
imap <C-p> <Action>(HippieCompletion)
imap <C-n> <Action>(HippieBackwardCompletion)
imap <C-x><C-o> <Action>(CodeCompletion)
imap <C-x><C-u> <Action>(SmartTypeCompletion)

map gc <Action>(CommentByLineComment)

nmap m<CR> <Action>(BuildSolutionAction)
nmap g<CR> <Action>(Run)
nmap t<CR> <Action>(RunClass)
nmap f<CR> <Action>(ReformatCode)

nmap <Leader><Space> <Action>(SearchEverywhere)
nmap <Leader>a <Action>(SwitchHeaderSource)
