set surround

let mapleader = " "
let g:mapleader = " "
nnoremap <Leader>w :action ReformatCode<CR>
nnoremap <Leader><Space> :action SearchEverywhere<CR>
nnoremap g<CR> :action Run<CR>
nnoremap t<CR> :action RunClass<CR>
inoremap <C-p> <C-o>:action HippieCompletion<CR>
inoremap <C-n> <C-o>:action HippieBackwardCompletion<CR>
inoremap <C-x><C-o> <C-o>:action CodeCompletion<CR>
inoremap <C-x><C-u> <C-o>:action SmartTypeCompletion<CR>
vnoremap gc :action CommentByLineComment<CR>
