set surround

let mapleader = " "
let g:mapleader = " "
imap <C-p> <Action>(HippieCompletion)
imap <C-n> <Action>(HippieBackwardCompletion)
imap <C-x><C-o> <Action>(CodeCompletion)
imap <C-x><C-u> <Action>(SmartTypeCompletion)

map gc <Action>(CommentByLineComment)

nmap g<CR> <Action>(Run)
nmap t<CR> <Action>(RunClass)

nmap <Leader>a <Action>(CIDR.Lang.SwitchHeaderSource)
map <Leader>w <Action(ReformatCode)
nmap <Leader><Space> <Action>(SearchEverywhere)
