[Desktop Entry]
Name=IBus
GenericName=Input Method Framework
Comment=Start IBus Input Method Framework
Exec=ibus-daemon -xdr
Icon=ibus
NoDisplay=true
Type=Application
Categories=System;Utility;
